
[repo]
kind = "recipe"

# FIXME - share these options via the repo import mechanism, instead of all this copy-and-paste...
[[parameters]]
name = "stack_registration"
default = "rej g 0.3 0.05" # Value used if not overriden
description = "Registration options for Siril stacking"

[[parameters]]
name = "stack_filtering"
default = "-filter-wfwhm=3k" # Value used if not overriden
description = "Filtering options for Siril (controls which frames are accepted for stacking)"

[[parameters]]
name = "stack_drizzle"
default = "" # Default to no drizzle (for RAM/disk reasons)
description = "Drizzle option for Siril stacking, set to empty string to disable, or -drizzle to enable"

[[parameters]]
name = "stack_options"
default = "-norm=addscale -output_norm -rgb_equal -32b" # Value used if not overriden
description = "Misc options for Siril stacking"

[[stages]]

name = "stack_osc"
description = "Basic OSC stacking (no fancy narrowband extraction)"
tool.name = "siril"
priority = 310

# or inline python code can be provided here.  In this case I'm using some python
# code I'm temporarily sharing from the main project...
script = '''
    # create a seq from the input files
    cd in
    convert in -debayer -out=..
    cd ..

    # We use -2pass to select the best possible reference frame for others to register against
    register in -2pass

    # because we are using -2pass we must complete the registration here before stacking
    # FIXME make drizzle optional
    seqapplyreg in {parameters.stack_drizzle}

    stack r_in {parameters.stack_registration} {parameters.stack_filtering} {parameters.stack_options} -out=results

    # and flip if required
    mirrorx_single results

    # Move the file to final output location
    load results
    save "{output.full_paths[0]}"
    '''

[[stages.inputs]]
kind = "job"
merge_to = "in"
after = "light.*" # the name of the step we want to follow

# Based on the following definitions in the stage toml file...
# Note: outputs will be prefilled in the context so that the script can use them
[[stages.outputs]]
# the 'processed' output points to a directory in the 'processed' repo but named based on the target we are trying to build for
# see above for a rule that automatically populates the results_dir shorthand
kind = "processed"
name = ["stacked.fits"]
