
[repo]
kind = "recipe"

[recipe]
author.name = "FIXMEsirilsomeone"
author.email = "FIXMEsirilsomeone"

# FIXME move this to stages
# Lower priority recipes are tried to match first
# - we want this to match after the osc_dual_duo has a chance
# priority = 10

# all sb.toml files can optionally contain a version section.  if version of the running starbash app is out of bounds a warning message will be printed
# to the user and the file will be ignored for future processing.
#[recipe.require.version]
#min = "0.1.0"
#max = "4.5.8"

[[stages]]

# this stage is considered if the previous stage in this same array
# was run.  It must be run inside the same tempdir (so that files from previous stage are available)

name = "stack_osc"
description = "Basic OSC stacking (no fancy narrowband extraction)"
tool.name = "python"
priority = 10

# if not specified starbash.py used
# script-file = "script.py"

# or inline python code can be provided here.  In this case I'm using some python
# code I'm temporarily sharing from the main project...
script = '''
    from starbash.recipes import osc2
    osc2.logger = logger
    osc2.context = context
    osc2.osc_process(has_ha_oiii=False, has_sii_oiii=False)
    '''

[[stages.inputs]]
kind = "job" # FIXME change name to be something like "multiplexed"?
name = "single" # FIXME, make inputs name optional and default to auto incrementing numbers
after = "light"   # the name of the step we want to follow

# Based on the following definitions in the stage toml file...
# Note: outputs will be prefilled in the context so that the script can use them
[[stages.outputs]]
# the 'processed' output points to a directory in the 'processed' repo but named based on the target we are trying to build for
# see above for a rule that automatically populates the results_dir shorthand
kind = "processed"
name = [
    "starbash.toml",     # FIXME: automatically add starbash.toml as an output for any 'processed' outputs?
    "stacked.fits"
]
