
[repo]
kind = "recipe"

[[stages]]

# this stage is considered if the previous stage in this same array
# was run.  It must be run inside the same tempdir (so that files from previous stage are available)

name = "background"
description = "Do background subtraction with graxpert"
tool.name = "graxpert"

# or inline python code can be provided here.  In this case I'm using some python
# code I'm temporarily sharing from the main project...
# FIXME - change graxpert to not add .fits suffix on output file
script = '''-cmd background-extraction -output "{output.base}/background" "{input[0].base}/stacked.fits"'''

[[stages.inputs]]
kind = "job"
# Note: if name is not specified, the first input will be named 0, second 1, etc.
after = "stack.*"   # the name of the step we want to follow

[[stages.inputs.requires]]
kind = "min_count"
value = 1          # At this point if we don't have any valid inputs, reject this stage from consideration

[[stages.outputs]]
kind = "processed"
name = [
    "background.fits", # FIXME, automatically generate based on INPUT names?
]
