
[repo]
kind = "recipe"

[[stages]]

name = "denoise"
description = "Do denoising with graxpert"
exclude_by_default = true # default to excluding this stage unless enabled via starbash.toml - it is very slow

tool.name = "graxpert"
tool.parameters = { "ai_version" = "3.0.2" }

# or inline python code can be provided here.  In this case I'm using some python
# code I'm temporarily sharing from the main project...
script = [
    "-cmd",
    "denoising",
    "-output",
    "{output.full_paths[0]}",
    "{input[0].full_paths[0]}"
]

[[stages.inputs]]
kind = "job-multiplex" # "job-multiplex" is like "job" but multiple tasks are created, one per input file from prior stage
# Note: if name is not specified, the first input will be named 0, second 1, etc.
after = "deconv-obj.*"   # the name of the step we want to follow

[[stages.inputs.requires]]
kind = "min_count"
value = 1          # At this point if we don't have any valid inputs, reject this stage from consideration

[[stages.outputs]]
kind = "processed"
auto.prefix = "denoise_"

